@import '../variable';

.home-screen {
    color: $color-gray05;
}

.price {
    padding: 10px;
    width: 100%;

    &__label {
        font-size: 11px;
        font-weight: 600;
        color: $color-gray60;
        text-transform: uppercase;
    }

    &__value {
        font-size: 32px;
        font-weight: 700;
    }

    &__value-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__delta {
        font-size: 12px;
        font-weight: bold;

        &.-up {
            color: $color-success;
        }

        &.-down {
            color: $color-danger;
        }
    }
}

.chart {
    display: flex;
    flex-direction: column;

    height: 64px;
}
