@import "fonts";
@import "variable";
@import "cleaner";

html {
    width: $window-height;
    max-width: 200px;
}

body {
    width: $window-height;
    height: 150px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.45;
    background: $color-blue;
    color: $color-gray05;
    font-family: $font;
    font-weight: 500;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-size-adjust: 100%;
}

@import "parts/header";

.created-by {
    display: none;
    position: fixed;
    font-size: 10px;
    right: 8px;
    bottom: 4px;
    z-index: 1000;
    color: rgb(220, 220, 220);

    a {
        display: inline-block;
    }

    &__logo {
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 4px;
    }
}

.loading {
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.application {
    padding: 0;
}

@import "screens/home";