$window-height: 200px;

$color-primary: #ffa055;

$color-blue: #281460;
$color-dark-blue: #200f4e;

$color-gray90: #0D0D0D;
$color-gray60: #A59FB8;
$color-gray05: #FAFAFA;

$color-gull-gray: #93A9C3;
$color-alto: #DADFEA;
$color-all-ocean: #F4F6F9;

$color-success: #47AE64;
$color-danger:  #D14242;
